<div class="container play-again">
    <div class="content">
        <img class="blocks-background" src="../../assets/images/play-again-blocks.png" alt="">
        <div class="logo">
            <img src="../../assets/images/segro.svg" alt="">
        </div>
        <div class="text">
            <h1>DZIĘKUJEMY</h1>
            <h2>ZA GRĘ!</h2>
        </div>
        <div class="button-wrapper button-wide">
            <a class="button play-again-button" [routerLink]="[ '/game' ]">
                <span>ZAGRAJ<br>PONOWNIE</span>
                <img src="../../assets/images/play-again-button-icon.png" alt="">
            </a>
            <span class="button-shadow"></span>
        </div>
    </div>
    <div class="building">
        <img src="../../assets/images/building.png" alt="">
    </div>
</div>