<div class="container">
  <div class="building">
    <img src="../../assets/images/building.png" alt="">
  </div>
  <div class="content">
    <img class="blocks-background" src="../../assets/images/home-blocks.png" alt="">
    <div class="logo">
      <img src="../../assets/images/segro.svg" alt="">
    </div>
    <div class="text">
      <h1>ZAGRAJ</h1>
      <h2>W MAGAZYN<span class="text-black">O</span>WĄ UKŁADANKĘ</h2>
    </div>
    <div class="button-wrapper button-wide">
      <a class="button" [routerLink]="[ '/game' ]">START</a>
      <span class="button-shadow"></span>
    </div>
  </div>
</div>
